
<div style="width: 100%;height: 100%;" class="content">
  <div style="width: 100%;height: 40px;">
    <app-header style="height: 100%;"></app-header>

  </div>
  <div class="flex" style="width: 100%;height: calc(100% - 50px);">
 
    <div class="col p-0" style="height: 100%;">
      <router-outlet></router-outlet>

    </div>
  </div>

  <div class="footer flex align-content-center justify-content-center align-items-center p-0 m-0" style="width: 100%;height: 10px;">
    <app-footer style="width: 100%;height: 100%;"></app-footer>

  </div>

</div>

